* {
    box-sizing: border-box;
    text-align: center;
  }
 body {
    font-size: 18px;
    color: #777;
    width: 1200px;
    background-color:#777;


 }
  header {
    background: #ebebeb;
    width: 960px;
    height:60px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left:80px;
    margin-right:80px;
  }
  #nav {
    background: #ebebeb;
    width: 960px;
    height:60px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left:80px;
    margin-right:80px;
  }
  section{
    width: 495px;
    height: 320px;
    padding: 30px;
    margin-bottom: 10px;
    margin-left:80px;
    background: #ebebeb;
    color: #777;
    float: left;

  }
  #article {
    width: 385px;
    height:220px;
    background: #777;
    color: #ebebeb;
    margin-bottom: 10px;
    margin-top:40px;
    margin-left: 28px;
    padding: 10px;


  }
  #heads{
    width: 330px;
    height:60px;
    background: #ebebeb;
    color: #777;
    margin-bottom: 10px;
    margin-left:15px;
    margin-bottom: 15px;
    margin-top: 28px;
  }
  #p {
    width: 330px;
    height:60px;
    padding: 20px;
    margin-bottom: 10px;
    background: #ebebeb;
    color: #777;
    margin-bottom: 15px;
    margin-left: 15px;
  }
  aside {
    float: left;
    width: 456px;
    height:320px;
    padding: 30px;
    margin-bottom: 10px;
    background: #ebebeb;
    color: #777;
    margin-left: 10px
  }
 footer{
    background: #ebebeb;
    width: 960px;
    height:60px;
    padding: 20px;
    margin-bottom: 10px;
    margin-left:80px;
    margin-top:350px;
  }
  
